In [2]:
import pandas as pd

In [4]:
X_train = pd.read_csv('https://raw.githubusercontent.com/mkleinbort/Kaggle-COMPAS/main/train/X_train.csv')

In [5]:
X_train.head()

,id,name,first,last,sex,date_of_birth,age,age_group,race,juv_fel_count,...,c_charge_desc,r_jail_in,r_jail_out,type_of_assessment,screening_date,v_type_of_assessment,v_screening_date,in_custody,out_custody,start
0,2677,nicholas staggewise,nicholas,staggewise,Male,1994-02-28,22,Less than 25,Caucasian,0,...,arrest case no charge,NaN,NaN,Risk of Recidivism,2013-09-24,Risk of Violence,2013-09-24,2013-09-23,2013-09-27,3
1,548,newton smith,newton,smith,Male,1995-01-28,21,Less than 25,African-American,0,...,Grand Theft in the 3rd Degree,NaN,NaN,Risk of Recidivism,2013-06-17,Risk of Violence,2013-06-17,2013-06-16,2013-06-16,0
2,4483,terrance irvin,terrance,irvin,Male,1984-04-10,32,25 - 45,African-American,0,...,Grand Theft in the 3rd Degree,2013-12-21,2014-02-21,Risk of Recidivism,2013-10-12,Risk of Violence,2013-10-12,2013-10-11,2013-10-15,3
3,9476,jaimie peterson,jaimie,peterson,Female,1986-01-02,30,25 - 45,African-American,0,...,Felony Driving While Lic Suspd,NaN,NaN,Risk of Recidivism,2014-01-12,Risk of Violence,2014-01-12,2014-01-11,2014-01-12,0
4,199,ritesh sukhlall,ritesh,sukhlall,Male,1987-05-12,28,25 - 45,Caucasian,0,...,arrest case no charge,NaN,NaN,Risk of Recidivism,2013-08-29,Risk of Violence,2013-08-29,NaN,NaN,0

In [6]:
y_train = pd.read_csv('https://raw.githubusercontent.com/mkleinbort/Kaggle-COMPAS/main/train/y_train.csv', squeeze=True)

In [7]:
y_train.head()

0    No-Recidivism
1          Violent
2      Non-Violent
3    No-Recidivism
4    No-Recidivism
Name: 0, dtype: object

In [8]:
print(f"Shape: X_train: {X_train.shape}")
print(f"Shape: y_train: {y_train.shape}")

Shape: X_train: (3794, 29)
Shape: y_train: (3794,)

In [12]:
X_test = pd.read_csv('https://raw.githubusercontent.com/mkleinbort/Kaggle-COMPAS/main/test/X_test.csv')

In [14]:
X_test.head()

,id,name,first,last,sex,date_of_birth,age,age_group,race,juv_fel_count,...,c_charge_desc,r_jail_in,r_jail_out,type_of_assessment,screening_date,v_type_of_assessment,v_screening_date,in_custody,out_custody,start
0,10257,wendy saintjuste,wendy,saintjuste,Female,1982-11-10,33,25 - 45,Other,0,...,Grand Theft in the 3rd Degree,NaN,NaN,Risk of Recidivism,2013-11-19,Risk of Violence,2013-11-19,2013-11-18,2013-11-19,0
1,468,seymour brown,seymour,brown,Male,1988-04-23,27,25 - 45,African-American,0,...,Aggrav Battery w/Deadly Weapon,NaN,NaN,Risk of Recidivism,2014-01-14,Risk of Violence,2014-01-14,2014-01-14,2014-01-31,17
2,2208,mario baptiste,mario,baptiste,Male,1984-02-09,32,25 - 45,African-American,0,...,Driving While License Revoked,2014-06-26,2014-06-28,Risk of Recidivism,2013-08-26,Risk of Violence,2013-08-26,2014-06-26,2014-06-28,1
3,5351,colter thompson,colter,thompson,Male,1994-07-15,21,Less than 25,Caucasian,0,...,Possess Cannabis/20 Grams Or Less,NaN,NaN,Risk of Recidivism,2013-04-09,Risk of Violence,2013-04-09,2013-04-08,2013-04-09,0
4,4143,eric floyd,eric,floyd,Male,1967-07-12,48,Greater than 45,African-American,0,...,Felony Battery (Dom Strang),NaN,NaN,Risk of Recidivism,2013-12-28,Risk of Violence,2013-12-28,2013-12-28,2013-12-30,2

In [15]:
X_train.columns.tolist()

['id',
 'name',
 'first',
 'last',
 'sex',
 'date_of_birth',
 'age',
 'age_group',
 'race',
 'juv_fel_count',
 'juv_misd_count',
 'juv_other_count',
 'priors_count',
 'days_b_screening_arrest',
 'c_jail_in',
 'c_jail_out',
 'c_offense_date',
 'c_arrest_date',
 'c_charge_degree',
 'c_charge_desc',
 'r_jail_in',
 'r_jail_out',
 'type_of_assessment',
 'screening_date',
 'v_type_of_assessment',
 'v_screening_date',
 'in_custody',
 'out_custody',
 'start']

In [16]:
X_test.columns.tolist()

['id',
 'name',
 'first',
 'last',
 'sex',
 'date_of_birth',
 'age',
 'age_group',
 'race',
 'juv_fel_count',
 'juv_misd_count',
 'juv_other_count',
 'priors_count',
 'days_b_screening_arrest',
 'c_jail_in',
 'c_jail_out',
 'c_offense_date',
 'c_arrest_date',
 'c_charge_degree',
 'c_charge_desc',
 'r_jail_in',
 'r_jail_out',
 'type_of_assessment',
 'screening_date',
 'v_type_of_assessment',
 'v_screening_date',
 'in_custody',
 'out_custody',
 'start']